.header {
  position: fixed;
  display: flex;
  padding-left: 50px;
  padding-right: 25px;
  height: 64px;
  width: 100%;
  z-index: 100;

  background-color: #fff;

  border-bottom: 1px solid #dcdcdc;
}

.logo {
  margin-right: 30px;
}

.wrapper {
  width: 100%;
}

.menu {
  width: 100%;

  border-bottom: none;
}

.avatar {
  background-color: #fff0eb;
  vertical-align: middle;

  & > span {
    color: #f08764;
    font-size: 10px;
  }
}
